$black:#2c2f38;
$green:#1ddfbc;
$blue:#2ec4d5;
$fontColor:#e7ecf0;

$theme_color_blue:#389fec;
$theme_color_origin:#ff7c2f;
$theme_btn_color:linear-gradient(269deg, #ff6461, #ffa45a);

$theme_tab_color:#389fec;